@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --color-lumora-50: #f0f7ff;
  --color-lumora-100: #e0effe;
  --color-lumora-200: #bae0fd;
  --color-lumora-300: #7cc8fb;
  --color-lumora-400: #36aaf5;
  --color-lumora-500: #0c8ee6;
  --color-lumora-600: #0070c4;
  --color-lumora-700: #015a9f;
  --color-lumora-800: #064c83;
  --color-lumora-900: #0b406d;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input, textarea, select {
  color: #171717;
  background-color: #ffffff;
}
